<!-- src/email/templates/thank-you.hbs -->
<h1>Hi {{username}},</h1>

<p>Thank you for reaching out to me. I'll get back to you as soon as I can!</p>

<p>Looking forward to connecting with you soon.</p>

<p>Regards,<br />
Lionel</p>
